
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Ticketing System {% endblock title %}</title>

    <link  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />

    {% load static %}
    <!--Durga sir's Recommendation-->

    <link rel="shortcut icon" type="image/x-icon" href="../static/assets/img/favicon.png"/>
		
		<!-- Bootstrap CSS -->
        <!-- <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css"/> -->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}"/>

		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}"/>
		
		<!-- Lineawesome CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/line-awesome.min.css' %}"/>
		
		<!-- Chart CSS -->
		    <link rel="stylesheet" href="{% static 'assets/plugins/morris/morris.css' %}">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!--Durga sir's Recommendation-->
  </head>
  <body>
    <!-- Main Wrapper -->
  <div class="main-wrapper">
		
    <!-- Header -->
          <div class="header">
      
      <a id="toggle_btn" href="javascript:void(0);">
        <span class="bar-icon">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </a>
      
      <!-- Header Title -->
              <div class="page-title-box">
        <h3>{{ companyname }} {{user.first_name}}</h3>
              </div>
      <!-- /Header Title -->
      
      <a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa fa-bars"></i></a>
      
      <!-- Header Menu -->
      <ul class="nav user-menu">
      
    
      
       
        <li class="nav-item dropdown has-arrow main-drop">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            <span class="user-img"><img src="../static/assets/img/profiles/avatar-21.jpg" alt="">
            <span class="status online"></span></span>
            <span>{{ companyname }}</span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'companyupdate'%}"> Update Company Details</a>
            <a class="dropdown-item" href="{% url 'logout'%}">Logout</a>
          </div>
        </li>
      </ul>
      <!-- /Header Menu -->
      
      <!-- Mobile Menu -->
      <div class="dropdown mobile-user-menu">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="{% url 'companyupdate'%}">Settings</a>
          <a class="dropdown-item" href="{% url 'logout'%}">Logout</a>
        </div>
      </div>
      <!-- /Mobile Menu -->
      
          </div>
    <!-- /Header -->
    
    <!-- Sidebar -->
          <div class="sidebar" id="sidebar">
              <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
          <ul>
            <li class="submenu {% if active_link == 'index' %} active {% endif %} ">
              <a href="#"><i class="la la-dashboard"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
              <ul style="display: none;">
                <li><a href="{% url 'index' %}" class="{% if active_link == 'index' %} active {% endif %}">Admin Dashboard</a></li>
              </ul>
            </li>
           
            <li class="menu-title"> 
              <span>Employees</span>
            </li>
            <li class="submenu {% if active_link == 'addEmployee' %} active{% endif %}">
              <a href="#"><i class="la la-user"></i> <span> Employees</span> <span class="menu-arrow"></span></a>
              <ul style="display: none;">
                <li><a href="{% url 'user_register'%}" class ="{% if active_link == 'addEmployee' %}active{% endif %}"> Add Employees</a></li>
              </ul>
            </li>
            <!-- <li> 
              <a href="clients.html"><i class="la la-users"></i> <span>Clients</span></a>
            </li> -->
            <li class="submenu{% if active_link == 'addProjects' or active_link == 'projectRequest' or active_link == 'assignCompany'%} active{% endif %}">
              <a href="#"><i class="la la-rocket"></i> <span> Projects</span> <span class="menu-arrow"></span></a>
              <ul style="display: none;">
                <li><a href="{% url 'project'%}" class ="{% if active_link == 'addProjects' or active_link == 'assignCompany' %}active{% endif %}"> My Projects</a></li>
                <li><a href="{% url 'project_accept'%}"class ="{% if active_link == 'projectRequest' %}active{% endif %}"> Project Request</a></li>
              </ul>
            </li>
            <li class="submenu{% if active_link == 'receivedTickets' or active_link == 'IssuedTickets' or active_link == 'ticketPriorities' %} active {% endif %}">
              <a href="#"><i class="la la-ticket"></i> <span> Tickets</span> <span class="menu-arrow"></span></a>
              <ul style="display: none;">
                <li><a href="{% url 'received_tickets'%}" class="{% if active_link == 'receivedTickets' %}active{% endif %}">Received Tickets</a></li>
                <li><a href="{% url 'issued_tickets'%}" class="{% if active_link == 'IssuedTickets' %}active{% endif %}">Issued Tickets</a></li>
                <li><a href="{% url 'ticket_management'%}" class="{% if active_link == 'ticketPriorities' %}active{% endif %}">Ticket Priorities</a></li>
              </ul>
            </li>

          </ul>
        </div>
              </div>
          </div>
    <!-- /Sidebar -->
    
    <!-- Page Wrapper -->
          <div class="page-wrapper">

            {% for message in messages %}
            <div id="message" class="alert {{ message.tags }} alert-dismissible" role="alert">
             <div> {{ message }} </div>
            </div>

            {% endfor %}

            {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <p> {{ error }} </p>
                {% endfor %}
            {% endfor %}
            {% endif %}

    {% block content %}
   


  

    {% endblock content %}
    

<!-- MDB -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  
    <!--Datatable plugin JS library file -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.js"></script>
    <script type="text/javascript">
      let table = new DataTable('#myTable');
      $('#message').fadeOut(3000)
    </script>

<!--Durga sir's Recommendation -->
<script src="{% static 'assets/js/jquery-3.5.1.min.js' %}"></script>
		
<!-- Bootstrap Core JS -->
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<!-- Slimscroll JS -->
<script src="{% static 'assets/js/jquery.slimscroll.min.js' %}"></script>

<!-- Chart JS -->
<script src="{% static 'assets/plugins/morris/morris.min.js' %}"></script>
<script src="{% static 'assets/plugins/raphael/raphael.min.js' %}"></script>
<script src="{% static 'assets/js/chart.js' %}"></script>

<!-- Custom JS -->
<script src="{% static 'assets/js/app.js' %}"></script>
<!--Durga sir's Recommendation -->

</body>
</html>