{% extends 'base.html' %}
{% block content %}


<!-- Page Content -->
<div class="content container-fluid">
				
   
    <!-- /Page Header -->
    <a type="action"  href="{% url 'add_host_user' %}"  class="btn btn-link btn-sm btn-rounded">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary">
        Add Host User
        </button>
    </a>
    <br><br>


<div class="container-fluid">
<h4>List Of Host Users </h4><br>

<table id="myTable"  class="table align-middle mb-0 bg-white table-striped" width="100%">
<!-- <table  id="example" class="table align-middle mb-0 bg-white"> -->
<thead class="bt-5">
<tr>
<th>First Name</th>
<th>Last Name</th>
<th>Email</th>
<th>Registered Date</th>
<th>Status</th>
<th>Actions</th>
</tr>
</thead>

{% for user in users %}
<tr>
<td> {{ user.user.first_name }}</td>
<td> {{ user.user.last_name }}</td>
<td> {{ user.user.email }}</td>
<td> {{ user.user.created_at }}</td>
<td> <span class="badge badge-success rounded-pill d-inline">Active</span> </td>
<td>
<a type="button" href="{% url 'update_user' user.user.id %}" class="btn btn-link btn-sm btn-rounded">
Edit
</a>
<a type="action"  href="#"  class="btn btn-link btn-sm btn-rounded">
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-mdb-toggle="modal"  data-mdb-target="#exampleModal{{user.user.id}}">
Delete
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal{{user.user.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Delete Priority Level</h5>
<button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body"> Are You Sure want to delete ? </div>
<div class="modal-footer">
<button type="button"  class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
<a type="action" href="{% url 'delete_user' user.user.id %}" class="btn btn-link btn-sm btn-rounded">
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
Delete
</button>
</a>
</div>
</div>
</div>
</a>

</td>
</tr>

{% endfor %}
</table>
</div>



{% endblock content %}