{% extends "host_user_base.html"%}
{% block content %}

{% if user.is_authenticated %}

<ul class="breadcrumb">
  <li class="breadcrumb-item active"><a>Tickets</a></li> 
  <li class="breadcrumb-item">Dashboard</li>
</ul>
<!-- /statistic -->
<div class="container-fluid">
<div class="row">
  <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
    <div class="card dash-widget">
      <div class="card-body">
        <span class="dash-widget-icon"><i class="fa fa-suitcase"></i></span>
        <div class="dash-widget-info">
          <h3>{{ticket_count}}</h3>
          <span><a href="{% url 'index'%}">Total Issued Tickets</a></span>
        </div>
      </div>
    </div>
  </div>
 <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
    <div class="card dash-widget">
      <div class="card-body">
        <span class="dash-widget-icon"><i class="fa fa-envelope-open"></i></span>
        <div class="dash-widget-info">
          <h3> {{opened_tickets}} </h3>
          <span><a href="{% url 'host_unsolved'%}">Open Tickets</a></span>
        </div>
      </div>
    </div>
  </div>
 <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
    <div class="card dash-widget">
      <div class="card-body">
        <span class="dash-widget-icon"><i class="fa fa-hourglass-half"></i></span>
        <div class="dash-widget-info">
          <h3> {{pending_tickets}}</h3>
          <span><a href="{% url 'host_unsolved'%}">Pending Tickets</a></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
    <div class="card dash-widget">
      <div class="card-body">
        <span class="dash-widget-icon"><i class="fa fa-lock"></i></span>
        <div class="dash-widget-info">
          <h3> {{closed_tickets}}</h3>
          <span><a href="{% url 'solved_tickets'%}">Closed Tickets</a></span>
        </div>
      </div>
    </div>
  </div>
</div> 
{% endif %}

{%endblock content%}