{% extends "host_user_base.html"%}
{% block content %}

{% if user.is_authenticated %}

<ul class="breadcrumb">
  <li class="breadcrumb-item active"><a>Tickets</a></li> 
  <li class="breadcrumb-item">Your Tickets</li>
</ul>



<div class="container-fluid">


  <h4>Ticket Issued By: {{user.first_name}} </h4>
  <a type="submit" class="btn btn-primary mb-3" href="{% url 'ticket' %}"> Issue Ticket </a>
<table id="myTable"  class="table align-middle mb-0 bg-white table-striped" width="100%">
  <!-- <table  id="example" class="table align-middle mb-0 bg-white"> -->
    <thead class="bt-5">
      <tr>
        <th>Subject</th>
        <th>Priority Level</th>
        <th>Project</th>
        <th>Issue Date</th>
        <th>Status</th>
        <th>Message</th>
        <th> Action </th>
      </tr>
    </thead>
    
 
    {% for ticket in tickets %}
    {% if not ticket.closed_status or not ticket.status %}
    <tr>
      <td>
        <a href={% url 'view_ticket' ticket.ticket_id %}> <h4>{{ ticket.subject }}</h4> </a> <p>{{ ticket.message }}</p>
        {%for attached in attachments %}
        {%if attached.ticket_id == ticket.ticket_id %}
        <div class="files-cont">
                                  
            <div class="file-type">
              <span class="files-icon"><i class="fa fa-file-pdf-o"></i></span>
            </div>
            <div class="files-info">
              <span class="file-author"><a href="../../../media/{{attached.file}}">Attachment</a></span><br><br>
            </div> 
        </div>
        {% endif %}
        {% endfor %}
      </td>
        <td> {{ ticket.priority }}</td>
        <td> {{ ticket.prj }}</td>
        <td> {{ ticket.created_at }}</td>
        {% if ticket.closed_status  and  ticket.status %}
        <td> <span class="badge badge-dark rounded-pill d-inline"> Closed </span> </td>
        {% elif ticket.status  and  not ticket.closed_status %}
          <td> <span class="badge badge-success rounded-pill d-inline"> Opened </span> </td>
        {% else  %}
          <td> <span class="badge badge-danger rounded-pill d-inline"> Pending </span> </td>
        {% endif %} </td>
        <td>  <a type="button" href="{% url 'message' ticket.ticket_id %}" class="btn btn-link btn-sm btn-rounded">
          Message
        </a>
       </td>
        <td>
        <a type="action"  href="#"  class="btn btn-link btn-sm btn-rounded">
          <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-mdb-toggle="modal"  data-mdb-target="#exampleModal{{ticket.ticket_id}}">
  Delete
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal{{ticket.ticket_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel{{ticket.ticket_id}}">Delete Priority Level</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"> Are You Sure want to delete {{ ticket.subject }}? </div>
      <div class="modal-footer">
        <button type="button"  class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
        <a type="action" href="{% url 'delete_ticket' ticket.ticket_id %}" class="btn btn-link btn-sm btn-rounded">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
            Delete
          </button>
        </a>
    </div>
  </div>
</div>
        </a>

        </td>
    </tr>
{% endif %}
{% endfor %}


</table>

<div>

{% else %}
<a href="{% url 'login' %}"> You are not login please login </a>
{% endif %}



{%endblock content%}

