{% extends "host_user_base.html"%}
{% block content %}

{% if user.is_authenticated %}

<ul class="breadcrumb">
  <li class="breadcrumb-item active"><a>Tickets</a></li> 
  <li class="breadcrumb-item">Your Tickets</li>
</ul>
<!-- /statistic -->
<div class="container-fluid">
<div class="row">
  <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
    <div class="card dash-widget">
      <div class="card-body">
        <span class="dash-widget-icon"><i class="fa fa-usd"></i></span>
        <div class="dash-widget-info">
          <h3>{{rec_tickets|length}}</h3>
          <span><a href="{% url 'my_tickets'%}">Total Tickets Received</a></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
    <div class="card dash-widget">
      <div class="card-body">
        <span class="dash-widget-icon"><i class="fa fa-diamond"></i></span>
        <div class="dash-widget-info">
          <h3>{{ticket_count}}</h3>
          <span><a href="{% url 'index'%}">Total Issued Tickets</a></span>
        </div>
      </div>
    </div>
  </div>
 <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
    <div class="card dash-widget">
      <div class="card-body">
        <span class="dash-widget-icon"><i class="fa fa-user"></i></span>
        <div class="dash-widget-info">
          <h3> {{opened_tickets}} </h3>
          <span><a href="{% url 'my_tickets'%}">Open Tickets</a></span>
        </div>
      </div>
    </div>
  </div>
 <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
    <div class="card dash-widget">
      <div class="card-body">
        <span class="dash-widget-icon"><i class="fa fa-user"></i></span>
        <div class="dash-widget-info">
          <h3> {{pending_tickets}}</h3>
          <span><a href="{% url 'my_tickets'%}">Pending Tickets</a></span>
        </div>
      </div>
    </div>
  </div>
</div> 
{% endif %}

{%endblock content%}