{% extends "base.html" %}

{% block content %}
<body>

{% if user.is_authenticated %}       



			
				<!-- Page Content -->
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">Welcome Admin!</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item active">Dashboard</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
				

					<!-- /statistic -->
					<div class="row">
						<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
							<div class="card dash-widget">
								<div class="card-body">
									<span class="dash-widget-icon"><i class="fa fa-cubes"></i></span>
									<div class="dash-widget-info">
										<h3>{{project}}</h3>
										<span><a href="{% url 'project'%}">Projects</a></span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
							<div class="card dash-widget">
								<div class="card-body">
									<span class="dash-widget-icon"><i class="fa fa-usd"></i></span>
									<div class="dash-widget-info">
										<h3>{{received_tickets}}</h3>
										<span><a href="{% url 'received_tickets'%}">Total Tickets Received</a></span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
							<div class="card dash-widget">
								<div class="card-body">
									<span class="dash-widget-icon"><i class="fa fa-diamond"></i></span>
									<div class="dash-widget-info">
										<h3>{{issued_tickets}}</h3>
										<span><a href="{% url 'issued_tickets'%}">Total Issued Tickets</a></span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
							<div class="card dash-widget">
								<div class="card-body">
									<span class="dash-widget-icon"><i class="fa fa-user"></i></span>
									<div class="dash-widget-info">
										<h3>{{user_count}}</h3>
										<span><a href="{% url 'index'%}">Employees</a></span>
									</div>
								</div>
							</div>
						</div>


<div class="container-fluid">
<h4>List Of Users </h4><br>

<table id="myTable"  class="table align-middle mb-0 bg-white table-striped" width="100%">
  <!-- <table  id="example" class="table align-middle mb-0 bg-white"> -->
    <thead class="bt-5">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Registered Date</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
	
{% for user in users %}
    <tr>
        <td> {{ user.user.first_name }}</td>
        <td> {{ user.user.last_name }}</td>
        <td> {{ user.user.email }}</td>
        <td> {{ user.user.created_at }}</td>
		<td>
		{% if user.user.is_active is True %}
         <a href="{% url 'deactive_user' user.user.id %}"><span class="badge badge-success rounded-pill d-inline">Active</span></a>
		{% else %}
		<a href="{% url 'active_user' user.user.id %}"><span class="badge badge-primary rounded-pill d-inline">Deactivated</span></a>
		{% endif %}
		</td>

        <td>
        <a type="button" href="{% url 'update_user' user.user.id %}" class="btn btn-link btn-sm btn-rounded">
          Edit
        </a>
        <a type="action"  href="#"  class="btn btn-link btn-sm btn-rounded">
          <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-mdb-toggle="modal"  data-mdb-target="#exampleModal{{user.user.id}}">
  Delete
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal{{user.user.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Priority Level</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"> Are You Sure want to delete {{user.user.first_name}} ? </div>
      <div class="modal-footer">
        <button type="button"  class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
        <a type="action" href="{% url 'delete_user' user.user.id %}" class="btn btn-link btn-sm btn-rounded">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
            Delete
          </button>
        </a>
    </div>
  </div>
</div>
        </a>

        </td>
    </tr>

{% endfor %}
</table>
</div>
{% else %}
<a href="{% url 'login' %}"> You are not login please login </a>
{% endif %}

</body>

{% endblock content %}