{% extends "base.html" %}

{% block content %}
<body>
{% if user.is_authenticated %}       
        
{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible" role="alert">
 <div> {{ message }} </div>
</div>
{% endfor %}

    <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<!-- Container wrapper -->
<div class="container-fluid">
  <!-- Toggle button -->
  <button
    class="navbar-toggler"
    type="button"
    data-mdb-toggle="collapse"
    data-mdb-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <i class="fas fa-bars"></i>
  </button>

  <!-- Collapsible wrapper -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Navbar brand -->
    <a class="navbar-brand mt-2 mt-lg-0" href="{% url 'index' %}">
      <img
        src="https://cdn-icons-png.flaticon.com/512/61/61972.png"
        height="15"
        alt="MDB Logo"
        loading="lazy"
      />
    </a>
    <!-- Left links -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'user_register'%}"> Add User </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'project'%}">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ticket_management'%}">Tickets</a>
      </li>
    </ul>
    <!-- Left links -->
  </div>
  <!-- Collapsible wrapper -->

    <!-- Avatar -->
    <div class="dropdown">
      <a
        class="dropdown-toggle d-flex align-items-center hidden-arrow"
        href="#"
        id="navbarDropdownMenuAvatar"
        role="button"
        data-mdb-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="https://i.stack.imgur.com/YQu5k.png"
          class="rounded-circle fa fa-user"
          height="25"
          alt="Black and White Portrait of a Man"
          loading="lazy"
        />
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
        <li>
          <a class="dropdown-item" href="{% url 'companyupdate'%}">Update Profile</a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'logout'%}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Right elements -->
</div>
<!-- Container wrapper -->
</nav>
<!-- Navbar -->


<div class="align-middle"><br>
  <h1 class="text-center">Welcome {{ companyname }} {{user.first_name}}</h1>
</div><br><br>

<h4>List Of Users </h4><br>
<table id="myTable" class="table table-striped table-bordered" width="100%">
  <!-- <table  id="example" class="table align-middle mb-0 bg-white"> -->
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <td>Registered Date</td>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
{% for user in users %}
    <tr>
        <td> {{ user.user.first_name }}</td>
        <td> {{ user.user.last_name }}</td>
        <td> {{ user.user.email }}</td>
        <td> {{ user.user.created_at }}</td>
        <td> <span class="badge badge-success rounded-pill d-inline">Active</span> </td>
        <td>
        <a type="button" href="{% url 'update_user' user.user.id %}" class="btn btn-link btn-sm btn-rounded">
          Edit
        </a>
        <a type="action"  href="{% url 'delete_user' user.user.id%}"  class="btn btn-link btn-sm btn-rounded">
          Delete
        </a>
        </td>
    </tr>

{% endfor %}
{% else %}
<a href="{% url 'login' %}"> You are not login please login </a>
{% endif %}
</table>

</body>

{%endblock content%}