{% extends "base.html" %}
{% block content %}

{% if user.is_authenticated %}
{% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
      {% endif %} 

  <h1>Welcome {{ user }}</h1>
  
  <h2> {{ companies.company_name }}</h2>  

  <a class="dropdown-item" href="{% url 'logout'%}">Logout</a>
  <a class="dropdown-item" href="{% url 'user_register'%}">Add User</a>
<h1>List Of Users </h1>
  <table  class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
{% for user in users %}
    <tr>
    <td>{{ user.user.first_name }}</td>
    <td> {{ user.user.last_name }}</td>
    <td> {{ user.user.email }}</td>
    <td> <span class="badge badge-success rounded-pill d-inline">Active</span> </td>
    <td>
      <a type="button" href="{% url 'userupdate' %}" class="btn btn-link btn-sm btn-rounded">
        Edit
      </a>
      <button type="button" class="btn btn-link btn-sm btn-rounded">
        Delete
      </button>
    </td>
    </tr>
{% endfor %}
</ul>
{% else %}
<a href="{% url 'login' %}"> You are not login please login </a>
{% endif %}

</table>

{%endblock content%}