{% extends 'base.html' %}
{% load static %}
{% block content %}


<form method="POST">
    {% csrf_token %}
    {{form}}
    <button type="submit" class="btn btn-primary" >Assign User</button>
</form>


<div class="align-middle"><br>
</div>

<div class="container">

    <h4> User of {{project_users.project_id}} Project  </h4><br>

<table id="myTable"  class="table align-middle mb-0 bg-white table-striped" width="100%">
  <!-- <table  id="example" class="table align-middle mb-0 bg-white"> -->
    <thead class="bt-5">
      <tr>
        <th>Email</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
{% for project_user in project_users %}
    <tr>
        <td> {{ project_user.user}}</td>
        <td> <span class="badge badge-success rounded-pill d-inline">Active</span> </td>
        <td>

          <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-mdb-toggle="modal"  data-mdb-target="#exampleModal{{project_user.user_id}}">
  Delete
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal{{project_user.user_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Priority Level</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"> Are You Sure want to delete {{project_user.user}}? </div>
      <div class="modal-footer">
        <button type="button"  class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
        <a type="action" href="{% url 'deleteproject_user' project_user.project_id  project_user.project.company_id project_user.user_id %}" class="btn btn-link btn-sm btn-rounded">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
            Delete
          </button>
        </a>  
    </div>
  </div>
</div>
        </a>

        </td>
    </tr>

{% endfor %}
</table>

{% endblock content %}