{% extends 'base.html' %}

{% block content %}

{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible" role="alert">
 <div> {{ message }} </div>
</div>
{% endfor %}

<div class="main-wrapper">
  <div class="account-content">
   <div class="container">
    
      
      <div class="account-box">
        <div class="account-wrapper">
          <h3 class="account-title">Project Request</h3>

            {% for request in prj_requests %}
           <h1> {{ company.company_name }} 
            <h4> Wants to connect with your company
             for the collobration in  {{ request.project.project_name }} project <h4>
           <a class="btn btn btn-primary">Accept</a>
           <a class="btn btn btn-danger">Ignore</a>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
        </div>
    <!-- /Main Wrapper -->      
{% endblock content %}

